<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
    </head>
    <body>
        <br><br><br>
        <h1>Builder's Blog</h1>
        <a href="{% url 'index' %}">Home ||</a> <a href="{% url 'about' %}">About Us ||</a> <a href="{% url 'contact' %}">Contact Us</a>
        <br><hr><br>

        <h2>About Builder's Blog</h2>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus itaque dignissimos doloremque at sint eaque, consequuntur saepe perspiciatis corrupti, aspernatur, deleniti nobis enim ipsa neque incidunt rerum quasi? Unde, illo.
        <br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, ea rem. Quis sunt quasi, sapiente, fugiat est optio veritatis quaerat exercitationem dolorem porro harum, fugit fuga eligendi praesentium explicabo expedita?
        <br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam architecto praesentium maiores harum? Enim sapiente pariatur officiis quibusdam voluptates minima eveniet nihil blanditiis aliquid temporibus. Neque impedit sequi sapiente odit?
        </p>
    </body>
</html>