<!DOCTYPE html>
<html>
<head>
    <title>Builder's Blog</title>
    {% extends 'general/base.html' %}
    {% load static %}
</head>
<body>
    {% block content %}

        {% if user.is_writer == True %}

            {% include 'writer/base.html' %}

        {% endif %}

        <h2>Search Builder's Blog <img src = "{% static 'admin/img/search.svg' %}"></h2>
            <form method="get" action="/">
                <input type="text" name="q" placeholder="Search Writer/Title/Post/Category">
            </form>
        <br>
        <a href="#" name="post"></a>
        <h2>Posts({{pc}})</h2><div style="text-align: right;"><a href="#category">Go To Categories</a></div>
        {% for post in post %}
            <p>
                {{forloop.counter}} - <a href="{% url 'detailview' post.pk %}">{{post.title}}</a> || Category: <a href="{% url 'category_detail' post.category.area %}">{{post.category}}</a>
                <p><i>{% if post.writer == request.user %}<a href="{% url 'profile' post.writer.pk %}">{{post.writer.username|title}} (You)</a>{% else %}<a href="{% url 'profile' post.writer.pk %}">{{post.writer.username|title}}</a>{% endif %} || <img src = "{% static 'admin/img/icon-calendar.svg' %}"> {{post.date_updated}}</i>
                    {% if post.writer == request.user %}
                        <img src = "{% static 'admin/img/icon-deletelink.svg' %}"> <a href="{% url 'post_delete' post.pk %}">Delete ||</a> <img src = "{% static 'admin/img/icon-changelink.svg' %}"> <a href="{% url 'post_update' post.pk %}">Edit</a>
                    {% endif %}</p>
            </p><br>
        {% empty %}
            <p>Damn, No Results Found</p><br>
        {% endfor %}

        <a href="{% url 'category' %}"><h2>Categories({{catcount}})</h2></a><div style="text-align: right;"><a href="#post">Go To Posts</a></div>
        <a href="#" name="category"></a>
        {% for cat in cat %}
            <p style="font-size: large;"><a href="{% url 'category_detail' cat.area %}">{{cat.area}}</a>
        {% empty %}
            <p>No Category At The Moment</p>
        {% endfor %}
        {% if cat %}
            ... &nbsp; &nbsp; &nbsp; &nbsp;<a href="{% url 'category' %}"> More...</a></p>
        {% endif %}

    {% endblock %}
</body>
</html>
