<!DOCTYPE html>
<html>
<head>
    <title>Post Like</title>
    {% extends 'general/base.html' %}
</head>
<body>
    {% block content %}
        <h2>{{post.title}}</h2>
            <p><strong>{{ number_of_likes }} Like{{number_of_likes|pluralize}}</strong>
            {% if post.writer == request.user %}
                <br><hr><br>
                You cannot like your posts nigga
                <br><br><hr>
            {% else %}
            <form method="POST" action="{% url 'like_liker' post.id %}">
                {% csrf_token %}
                {% if post_is_liked %}
                    <button type="submit" name="post_id" value="{{post.id}}">Unlike</button>
                {% else %}
                    <button type="submit" name="post_id" value="{{post.id}}">Like</button>
                {% endif %}
            </form>
            {% endif %}
            </p>
            <br>
        {% if post.likes.all %}
        <h3>Post Liked By:</h3>
            {% for user in post.likes.all %}
                {% if user == request.user %}
                    {{forloop.counter}} - <a href="{% url 'profile' user.pk %}">{{user.username}} (You)</a><br><br>
                {% else %}
                    {{forloop.counter}} - <a href="{% url 'profile' user.pk %}">{{user.username}}</a><br><br>
                {% endif %}
            {% endfor %}<br>
        {% else %}
            <p>This post has no likes at the moment</p><br>
        {% endif %}
        <a href="{% url 'detailview' post.pk %}">Back To Post</a>
    {% endblock %}
</body>
</html>