<!DOCTYPE html>
<html>
<head>
    <title>Password Change</title>
    {% extends 'general/base.html' %}
</head>
<body>
    {% block content %}

        <h3>Password Change</h3>
        <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}                   
            <button type="submit">Change My Password</button>
        </form>
    <a href="{% url 'profile' user.pk %}">Back</a>
    {% endblock %}
</body>
</html>